mixin c-resume-list-item(params)
  .c-resume-list-item&attributes(params.attrs)
    .c-resume-list-item_title
      .c-resume-list-item_row-1
        .c-resume-list-item_company-date
          span.c-resume-list-item_company: |#{params.name}
          +b-link({attrs: {href: params.href, target: '_blank'}}): |#{params.site}
        span.c-resume-list-item_date: |#{params.role}
      +b-divider({})
      span.c-resume-list-item_date: |#{params.dateRange} #[span.--opacity: | !{params.dateSize}]
    .c-resume-list-item_text
      block